<style>
  .banner {
      /* The image used */
      background-image:
      /*linear gradient overlay*/
      linear-gradient(to top right, rgba(13,110,253, 0.30) 10%, rgba(0,0,0, 0.20 ) 60%),
      url("mountains.jpg");
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      /* Prevent image from repeating */
      background-repeat: no-repeat;
      /* Set height */
      height: auto;
      /* Set background size */
      background-size:cover;
      /* Set background position */
      background-position:right center
    }
  </style>
  <div class="banner">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Algorithmic Trading </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auditStock" > Get Stock Research History </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/stockSearchHistory" routerLink="stockSearchHistory" routerLinkActive ="active" > Get Stock Prices </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Guides</a></li>
              <li><a class="dropdown-item" href="#">Blog</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Share your experience</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!--CTA-->
    <div class="container text-center text-white">
      <br><br><br><br><br><br>
      <h1 class="display-4"> View the price of any stock.</h1>
      <h5>Ask us any stock at any date ! We will provide all information </h5>
      <br>
      <a class="btn btn-primary btn-lg" role="button"  href="/stockSearchHistory" routerLink="/stockSearchHistory" routerLinkActive ="active">Click here, so you can try  </a>
      <br><br><br><br><br><br>
    </div>
  </div>
<app-audit-stock></app-audit-stock>



