<nav class = "navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="StockSearchHistories" routerLinkActive ="active" class="nav-link"> StockSearchHistoriesList </a>
          <a routerLink="getStock" routerLinkActive ="active" class="nav-link"> Rechercher des stocks </a>
      </li>
  </ul>
</nav>

<div class="container">
  <router-outlet> </router-outlet>
</div>
<div class = "container">
  <app-date-picker></app-date-picker>
</div>
<div class = "container">
  <app-candlestick></app-candlestick>
</div>

