<!--CTA-->
<style>
    .banner {
        /* The image used */
        background-image:
        /*linear gradient overlay*/
        linear-gradient(to top right, rgba(13,110,253, 0.30) 10%, rgba(0,0,0, 0.20 ) 60%),
        url("mountains.jpg");
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        /* Prevent image from repeating */
        background-repeat: no-repeat;
        /* Set height */
        height: max-content;
        /* Set background size */
        background-size:cover;
        /* Set background position */
        background-position:right center
      }
</style>
<body>
<div class="banner">
<div class="container text-center text-white">
    <br><br><br><br><br><br>
    <h1 class="display-4"> View the price of any stock.</h1>
    <h5>Ask us any stock at any date ! We will provide all information </h5>
    <br>
    <a class="btn btn-primary btn-lg" role="button"  href="/stockSearchHistory" routerLink="/stockSearchHistory" routerLinkActive ="active">Click here, so you can try  </a>
    <br><br><br><br><br><br>
  </div>
</div>
</body>