nav img{
    padding: 10px;
    width: 70px;
    
  }
nav ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 50px;
}
li a{
    color: bisque;
    text-decoration: none;
    cursor: pointer;
}

 nav {position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: darkolivegreen;
    color: white;
    font-weight: 600;
    background-attachment: fixed;
  }