
<app-header class="fixed-top"></app-header> 
<Body>
<img src="assets/téléchargement.png"width="500"height="700" float="right"/>
<div>
<header>
  <h1>Constituez votre portefeuille </h1>
  <h4>Démarrez votre premier trade de cryptomonnaies en suivant les étapes ci-dessous.</h4>
</header>
<nav>
  <p>Tradez de nombreux produits</p>
  <p>Gagnez des revenus passifs</p>
  <p>Carte House of Dauphine finance</p>
</nav>
</div>
</Body>
  <app-price  [prices]="myprice"></app-price>
  <app-price [prices]="myprice2"></app-price>
  <app-courbes></app-courbes>
